.venv/
Heart-Disease-Detection/
hf-space-repo/
huggingface-space-api/
heartbeat-dss-app/
saved_models*/
results/
training-2022/
chroma-2022/
__pycache__/
*.npy
*.npz
*.h5
*.ckpt
*.pth
*.pt
*.log
artifacts/
.env
.vscode/
.DS_Store
